apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: taskmanagement-backend:latest   # use your local image name
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000             # matches your backend port
          env:
            - name: MONGO_URL
              value: mongodb://mongodb:27017    # points to your MongoDB Service
